<!doctype html>
<html lang="<%= I18n.locale %>" dir="ltr" class="fontawesome-i2svg-active chrome osx fontawesome-i2svg-complete">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <title><%= page_title %></title>
  <%= render 'layouts/shared/favicon' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_packs_with_chunks_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="//cdn.addpipe.com/2.0/pipe.css">
</head>
<body>
<main class="main" id="top">
  <div class="container" data-layout="container">
    <%= render 'layouts/authoring/sidebar', lesson: @lesson %>
    <div class="content" id="admin">
      <%= render 'layouts/admin/header' %>
      <% if notice %>
        <div class="alert alert-success"><%== notice %></div>
      <% elsif alert %>
        <div class="alert alert-warning"><%== alert %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/admin/footer' %>
    </div>
  </div>
  <%= render 'layouts/shared/modal' %>
</main>

<%= javascript_packs_with_chunks_tag 'application' %>
<script type="text/javascript" src="//cdn.addpipe.com/2.0/pipe.js"></script>
<%= render 'layouts/shared/hubspot' %>
</body>
</html>
